[Unit]
Description=Set a unique mac address on eth0 on boot
After=network-pre.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/home/laser/openidn/set_mac_addr.sh

[Install]
WantedBy=network.target